.selectCountry{
  width:100%;
  height:40px;
}

.txtMarginIcon{
  margin-right:37px;
  margin-left:37px;
}

.txtMarginNameProfile{
  position: absolute;
  right: 70px;
  bottom: 33px;
}

.topnav {
  overflow: hidden;
}

.topnav .aNavElement {
  float: left;
  display: block;

  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

  border-bottom: 3px solid transparent;
}

.topnav .aNavElement:hover {
  border-bottom: 3px solid red;
}

.topnav .aNavElement.active {
  border-bottom: 3px solid #de552d;
}

.notificationAlert {
  text-decoration: none;
  padding: 2px 4px;
  position: relative;
}

.notificationAlert .badgeAlert {
  position: absolute;
  top: -10px;
  right: 35px;
  padding: 2px 8px;
  border-radius: 50%;
  background-color: red;
  color: white;
}

.containerChat {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.darker {
  border-color: #ccc;
  background-color: #ddd;
}

.containerChat::after {
  content: "";
  clear: both;
  display: table;
}

.containerChat .imgChat {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  /*border-radius: 50%;*/
}

.containerChat .imgChat.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

.time-right {
  float: right;
}

.time-left {
  float: left;
}
