.bgImage{
  background-image:url("../images/bgcarrete.png");
  background-repeat:repeat-y;
}

.txtMargin{
  margin-top:50px;
}

.btnMargin{
  margin-top:15px;
}

.btnStyle{
  width:100%;
  border-radius:20px;
}

.imgSize{
  width:160px;
  height:auto;
}
