@font-face {
  font-family: HKGrotesk;
  src: url(../fonts/HKGrotesk.otf);
}

.txtLineHKGrotesk{
  font-family: HKGrotesk;
}


.btnColorHaCi{
  background-color: #de552d;
  color: white;
}

.btnColorHaCi:hover{
  background-color: #ff0000;
  color: white;
}

.txtColorHaCi{
  color: #de552d;
}

.divSmall{

  display: block;
}

.divLarge{

  display: none;
}

.bgImage0{
  background-image: url("../images/bgBlackboard.jpg");
  background-repeat: repeat-y;
}

.btnSignUp {
  border-radius: 20px;
  width: 200px;
}

.imgMarginLogo{
  margin: 30px;
}

a:hover{
  text-decoration: none;
  color: #f7f7f7;
}

.collapseColorHaCi{
  background-color: #f7f7f7;
  color: #de552d;
}

.collapseColorHaCi:hover{
  background-color: #de552d;
  text-decoration: none;
  color: #f7f7f7;
}

.collapseColorHaCiSelected{
  background-color: #de552d;
  /*background-color: red;*/
  color: white;
}

select{
  -webkit-appearance: menulist-button;
}

.aCountry:hover{
  text-decoration: none;
  color: #de552d;
}

.divOverflow{
  width:auto;
  height:250px;
  overflow:scroll;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .divSmall{
    display: none;
  }

  .divLarge{
    display: block;
  }

  .iconStepper{
    width: 18px;
    height: 18px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
