.icoInput {
  float: right;
  margin-right: 15px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
}


.divMarginButton{
  margin-top: 40px;
}

.divMarginInput{
  margin-top: 30px;
}

.divMarginLogo{
  margin-top: 30px;
  margin-bottom: 90px;
}
