.collapseColorHaCi{
  background-color: #f7f7f7;
  color: #de552d;
}

.collapseColorHaCi:hover{
  background-color: #de552d;
  text-decoration: none;
  color: #f7f7f7;
}

.collapseColorHaCiSelected{
  background-color: #de552d;
  color: white;
}

.divMargin{
  margin-top: 70px;
}

.txtHoverSkills:hover{
  text-decoration: none;
  color: #f7f7f7;
}
